{% load static %}
<a class="trending-product" href="#"><img src="{% static 'img/product-11.jpg' %}"
                                          alt="product"></a>
<a class="trending-product" href="#"><img src="{% static 'img/product-21.jpg' %}"
                                          alt="product"></a>
<a class="trending-product" href="#"><img src="{% static 'img/product-31.jpg' %}"
                                          alt="product"></a>
<a class="trending-product" href="#"><img src="{% static 'img/product-41.jpg' %}"
                                          alt="product"></a>
<a class="trending-product" href="#"><img src="{% static 'img/product-5.jpg' %}"
                                          alt="product"></a>
<a class="trending-product" href="#"><img src="{% static 'img/product-6.jpg' %}"
                                          alt="product"></a>