{% load static %}
<header class="header">
    <a href="{% url 'main:index' %}"><img class="logo" src="{% static 'img/logo.svg' %}" alt="logo"></a>
    <ul class="menu clearfix">
        {% for link in links_menu.links_menu %}
            <li class="menu_list">
                <a href="{% url link.href %}"
                   class="
                   menu_link
                   {% if 'main:'|add:request.resolver_match.url_name == link.href %}
                   menu_link__active
                   {% endif %}
">
                    {{ link.name|upper }}
                </a>
            </li>
        {% endfor %}
        {% if user.is_authenticated %}
            <li class="menu_list">
                <a href="{% url 'auth:user_profile' %}" class="menu_link">
                    {{ user.first_name|default:'Пользователь' }}
                </a>
                <a href="{% url 'auth:logout' %}" class="menu_link">
                    выход
                </a>
            </li>
        {% else %}
            <li class="menu_list">
                <a href="{% url 'auth:user_register' %}" class="menu_link">
                    регистрация
                </a>
                <a href="{% url 'auth:login' %}" class="menu_link">
                    вход
                </a>
            </li>
        {% endif %}
        <li class="menu_list">
            <a href="{% url 'basket:index' %}" class="menu_link">
                Корзина:
                {{ user_basket }}
            </a>
        </li>
        <li class="menu_list">
            <a href="#" class="menu_link"><img src="{% static 'img/search.svg' %}" alt="img"></a>
        </li>
    </ul>
</header>