{% extends 'authapp/base.html' %}

{% block container %}
    <div class="h2 text-center head">
        Вход в систему
    </div>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
{#      для возврата на страницу покупки, после логина при покупке товара #}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {{ form.as_p }}
        <input type="submit" value="Войти" class="form-control">
    </form>
    <a href="{% url 'auth:user_register' %}"
       class='btn btn-round form-control'>
        Зарегистрироваться
    </a>
{% endblock %}
